<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Veiculo</title>
</head>

<body>
    <!-- menu Include  -->
    <th:block th:include="/_menu"></th:block>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main">
                <!--  				<div class="col-sm-12 col-md-12 well" id="content"> -->
                <!-- Content -->

                <div class="form-container">
                    <h2>Atualizar <b>Veículo</b></h2>

                    <form action="#" th:action="@{/add-veiculo}" th:object="${veiculo}" method="post">
                        <input type="hidden" name="id" Placeholder="Codigo" readonly>

                        <select name="fabricante" required="required">
							<option value="AUDI" selected>AUDI</option>
							<option value="CHEVROLET">CHEVROLET </option>
							<option value="VOLKSWAGEN">VOLKSWAGEN </option>
							<option value="FIAT">FIAT </option>
							<option value="MERCEDES-BENZ">MERCEDES-BENZ </option>
							<option value="CITROEN">CITROEN </option>
							<option value="CHANA">CHANA </option>
							<option value="HONDA">HONDA </option>
							<option value="SUBARU">SUBARU </option>
							<option value="FERRARI">FERRARI </option>
							<option value="BUGATTI">BUGATTI </option>
							<option value="LAMBORGHINI">LAMBORGHINI </option>
							<option value="FORD">FORD </option>
							<option value="HYUNDAI">HYUNDAI </option>
							<option value="PEUGEOT">PEUGEOT </option>
							<option value="TOYOTA">TOYOTA </option>
							<option value="RENAULT">RENAULT </option>
						</select>
                        
                        <input type="text" name="modelo" placeholder="Modelo Veículo" required="required" maxlength="11">
                        <input type="text" name="anoFab" placeholder="Ano Fabricação" required="required" maxlength="4">
                        <input type="text" name="anoMod" placeholder="Ano Modelo" required="required" maxlength="4">
                        <input type="text"  name="placa"required="required" placeholder="Placa-Cidade" maxlength="50">
                        <input type="number" name="valor" step=any placeholder="Valor R$" required="required">
<!--                         <input type="number" name="prop_id" value="" placeholder="Id Proprietario"> -->


                        <br>
                        <button type="Submit">Cadastrar</button>

                    </form>
                </div>

                <!-- End Content -->
            </div>
        </div>
    </div>
    <!--  	</div> -->
    <th:block th:include="/_footer"></th:block>
</body>

</html>