<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
   <!-- Admin Painel Include  -->
	<th:block th:include="/_header"></th:block>
    <div id="page-wrapper">
 		<div class="container-fluid" >
 					<!-- Content -->
 					
						 <div class="form-container">
						        <h2>Cadastrar <b>Usuario</b></h2>
						
						        <form action="">
						            <input type="hidden" value="" name="Id" Placeholder="Codigo" readonly>
						            <input type="text" name="name" value="" placeholder="Nome" required="required" maxlength="35">
						       		<input type="email" name="email" value="" placeholder="Email" required="required" maxlength="50">
						            <input type="password" name="senha" value="" placeholder="Senha" maxlength="20">
						             <select name="status" required="required" readonly>
											<option value="0">Inativo</option>
											<option value="1" selected>Ativo</option>
						      		</select>
						            <br>
						            <button type="Submit" class="btn btn-success">Cadastrar</button>
						        </form>
 					</div>
 					
 					<!-- End Content -->
 				</div>
 			</div>
	</body>
</html>