<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Proprietario</title>
</head>
<body>
	<!-- Admin Painel Include  -->
	<th:block th:include="@{/_header}"></th:block>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Content -->

			<div class="form-container">
				<h2>
					Cadastrar <b>Proprietário</b>
				</h2>

				<form th:action="@{/save-proprietario}" method="post">
					<input type="hidden" name="Id" Placeholder="Codigo" readonly>
					<input type="text" name="nome" placeholder="Nome Completo" required="required" maxlength="35"> 
					<input type="email" name="email" placeholder="Email" required="required" maxlength="50"> 
					<input type="text" name="telefone" placeholder="Telefone" required="required" maxlength="17">
					<input type="hidden" name="cpf" value="" placeholder="CPF" maxlength="11"> 
					<br>
					<button type="Submit" class="btn btn-success">Cadastrar</button>
				</form>
			</div>
			<!-- End Content -->
		</div>
	</div>
</body>
</html>