<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Info</title>
</head>
<body>
	<!-- Admin Painel Include  -->
	<div th:include="fragments/header"></div>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Content -->

			<h1 style="text-align: center">
				Sobre o Sistema
			</h1>
			<h2 style="text-align: center">SG-Veiculos</h2>
			<p style="font-size: 16px; text-align: center">Projeto que simula um sistema de Gestão de Veículos e
				Proprietarios com operações de Busca, Cadastro Atualização e Exclusão de Dados.<br> 
				Tambem disponibilizo uma Api Rest para consumo, link no próprio Sistema</p>

			<p style="font-size: 16px; text-align: center">
				Tecnologias Usadas:<br></br> <b>Java 8</b>, <b>Spring Boot, Spring Security,
				Spring Data-JPA, Template Engine Thymeleaf e Banco de Dados
				PostgreSQL</b>
			</p>
			<p style="font-size: 16px; text-align: center">Developed By SS <b>Jaime</b></p>
			

			<!-- End Content -->
		</div>
	</div>
</body>
</html>