<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proprietarios</title>
</head>

<body>
    <!-- menu Include  -->
    <th:block th:include="/_menu"></th:block>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" style="padding: 4px">
                <!-- 				<div class="col-sm-12 col-md-12 well" id="content"> -->
                <!-- Content -->

                <div class="table-title" style="width: 90%">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>
                                Proprietários <b>Detalhes</b>
                            </h2>
                        </div>

                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th style="width: 22%;">Nome</th>
                            <th style="width: 22%;">Email</th>
                            <th>Telefone</th>
<!--                             <th>CPF</th> -->
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prop : ${proprietarios}">
                            <td th:text="${prop.id}"></td>
                            <td th:text="${prop.nome}"></td>
                            <td th:text="${prop.email}"></td>
                            <td th:text="${prop.telefone}"></td>
                            
<!--                             <td th:text="${prop.cpf}"></td> -->

                            <td><a href="#" class="edit" title="Edit" data-toggle="tooltip"><i
										class="material-icons">&#xE254;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
										class="material-icons">&#xE872;</i></a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- Paginação -->
                <div class="clearfix">
                    <div class="hint-text">
                        Showing <b>5</b> out of <b>25</b> entries
                    </div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
                <!-- 				</div> -->

                <!-- End Content -->
            </div>
        </div>
    </div>
    <th:block th:include="/_footer"></th:block>
</body>

</html>