<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--  <html xmlns:th="http://www.thymeleaf.org">-->

<head>
<title>Atualizar</title>
</head>
<body>
	<!-- Admin Painel Include  -->
	<div th:include="fragments/header"></div>
	<!-- Page-->
	<div id="page-wrapper">
		<div class="container-fluid">

			<div class="form-container">
				<h2>
					Atualizar <b>Veículo</b>
				</h2>

				<form action="#" th:action="@{/save-veiculo}" th:object="${veiculo}"
					method="post">
					<input type="text" th:field="*{id}" style="background: #ecf0f1" readonly> 
					<input type="text" name="fabricante" th:field="*{fabricante}" style="background: #ecf0f1" readonly>		
					<input type="text" name="modelo" th:field="*{modelo}" required="required" maxlength="11"> 
					<input type="text" name="anoFab" th:field="*{anoFab}" required="required" maxlength="4"> 
					<input type="text" name="anoMod" th:field="*{anoMod}" required="required" maxlength="4"> 
					<input type="text" name="placa" th:field="*{placa}" maxlength="50">
					<input type="number" name="valor" step=any th:field="*{valor}" placeholder="Valor R$" required="required">
					<select th:field="*{prop}">
					<option th:each="prop : ${lst}" th:value="${prop.id}" th:text="${prop.nome}"></option>
					</select>
					<br>
					<button type="Submit" class="btn btn-success">Salvar</button>
					<a th:href="@{/delete-veiculo/{id}(id=${veiculo.id})}" class="btn btn-danger">Deletar</a>
				</form>
			</div>
			<!--  End Content -->
		</div>
	</div>
</body>
</html>