<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<title>Usuario</title>
</head>
<body>
	<!-- Admin Painel Include  -->
	<div th:include="fragments/header"></div>	
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Content -->

			<h4>
				Bem Vindo <b>[[${#httpServletRequest.remoteUser}]]</b>, você está
				logado!!!
			</h4>
			<!-- End Content -->
		</div>
	</div>
</body>
</html>